#main{
	margin-left: 10px;
	width: 165px;
}

#img{
	margin-left: 25px;
	margin-top: 25px;
}

p{
	text-align: center;
	height: 8px;
}

.model, .company{
	font-size: 14px;
}

.content_in_product_one{
	position: absolute;
/*	top: 265px;*/
	left:28px;
}

.content_in_product_two{
	position: absolute;
/*	top: 257px;*/
	left:10px;
}


.company{
	color: rgb(190, 190, 190);
	position: relative;
	top: 12px;
	}
	
.button_buy{
	border: none;
	color: white;
	width: 145px;
	height: 35px;
	background-color:rgb(100, 130, 255);
	border-radius: 10px;
	font-size: 11px;
	transition: all 0.5s;
	cursor: pointer;
}

.button_buy span {
  position: relative;
  transition: 0.5s;
}

.button_buy span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}

.button_buy:hover span {
  padding-right: 15px;
}

.button_buy:hover span:after {
  opacity: 1;
  right: 0;
}



.button_details{
	position: relative;
	top: -5px;
	border: 2px solid ;
	border-color: rgb(100, 130, 255);
	width: 145px;
	height: 35px;
	background-color:white;
	border-radius: 10px;
	transition: all 0.5s;
	font-size: 11px;
	cursor: pointer;
}

.button_details span {
  position: relative;
  transition: 0.5s;
}

.button_details span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}

.button_details:hover span {
  padding-right: 15px;
}

.button_details:hover span:after {
  opacity: 1;
  right: 0;
}


.One{
	background: rgb(235, 235, 235);
	border-radius: 15px;
	height: 470px;
}

.Two{
	background: rgb(235, 235, 235);
	border-radius: 15px;
	position: absolute;
	top: 8px;
	left:195px;
	width: 165px;
	height: 470px;
}
